 input {
     border: none;
     border-radius: 5px;
     height: 40px;
     padding: 5;
     width: 250px;
     outline: none;
 }

 .alert {
     max-width: 500px;
     margin: 0 auto;
 }

 .inputDiv {
     border: 1px solid rgb(69, 69, 69);
     padding: 5px;
     width: 280px;
     border-radius: 10px;
 }

 .buttonDIV {
     border: none;
 }

 .regDiv {
     margin-top: -50px;
 }