/* Akkordeon-Container */



.accordion-details {
    background-color: #f9f9f9;
    padding: 16px;
    color: #333;
    font-size: 0.95rem;
    line-height: 1.6;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.accordion-summary {
    padding: 16px;
    font-weight: bold;
    background-color: #eaeaea;
    cursor: pointer;
    transition: all 0.3s ease;
}