.todo-container {
    height: calc(100vh - 100px);
}


body::-webkit-scrollbar {
    display: none;
}

.todoHeader {
    margin-top: 100px !important;
}

body {
    background-color: rgb(198, 198, 198) !important;
}